.header {
    background: #C3CFD9;    
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}