.container { 
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    align-items: center;
    width: 375px;
    background: #FFFFFF;
    margin-bottom: 117px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #293845;
}

p {
    font-family: "Roboto", sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #293845;
}

.sessions    {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    width: 375px;
    background: #FFFFFF;
}  

.daySessions {
    display: flex;
    flex-direction: column;
}

.hours {
    flex-direction: row;
    flex-wrap: wrap;
}

.hours button {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 8px;
    width: 82px;
    height: 43px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #E8833A;
    border-radius: 3px;
}

img {
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 11px;
    cursor: pointer;
}   